* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    max-width: 100%;
    height: 122px;
    background-color: rgb(37, 37, 162);
    margin: 0 auto;
    box-shadow: 0 10px 5px -10px;

}

h1 {
    position: absolute;
    text-indent: -9999999999999px;
}

body {
    background-color: #f5f6f7;
}

.containerheader {
    max-width: 79%;
    height: 100%;
    margin: 0 auto;
}

.headerup {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
}

.headerdown {
    width: 100%;
    height: 50px;
}

.logohead {
    width: 24.25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seach {
    width:32.666666666666664%;
    height: 34px;
    background-color: rgb(254, 213, 34);
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 88.01020408163265%;
    height: 30px;
    margin: 2px;
    border: none;
    font-size: 14px;
}

.search-submit {
    position: absolute;
    right: 0;
    top: 0;
    width: 11.479591836734695%;
    height: 34px;
    cursor: pointer;
    background-color: rgb(254, 213, 34);
    border: none;
}

.phone {
    width: 41%;
    height: 39px;
    display: flex;
}

.fire {
    width: 22%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.fire a {
    text-decoration: none;
    color: white;
}


.phone1 {
    width: 29.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.phone1 p,
.phone2 p {
    font-size: 16px;
    text-decoration: none;
}

.phone2 {
    width: 29.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.sale {
    font-size: 12px;
}

i {
    font-size: 28px;
}

.cart {
    width: 10%;
    height: 100%;
    display: flex;
    color: white;
    margin-left: 15px;
    align-items: center;
    border-radius: 50%;
    border: 1px solid white;
    overflow: hidden;
    justify-content: center;
}

.headerdown {
    display: flex;
    align-items: center;
}

.title {
    width: 24.25%;
    color: white;
    font-weight: bold;
}

.title2 {
    /* height: 100%; */
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.title2 p {
    margin-left: 10px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.menudown {
    position: absolute;
    top: 132px;
    width: 19.4%;
    background-color: white;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}

.cat-item {
    border-bottom: 1px solid rgba(55, 46, 46, 0.541);
    height: 28px;
    line-height: 28px;
    padding: 0 14px;
}

.cat-item a {
    font-weight: 100;
    margin-left: 15px;
}

.menurow {
    width: 75%;
    height: 50px;
    /* display: flex; */
    /* align-items: center; */
}

.menu-mega {
    width: 231.2925170068027%;
    height: 504px;
    background-color: white;
    position: absolute;
    left: 291px;
    top: 0;
    display: none;
    z-index: 100;
}

.sub-menu {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    display: none;

}


.cat-item:hover .menu-mega {
    display: block;

}

.cat-item:hover .sub-menu {
    display: flex;

}

.cat-item:hover {
    background-color: blue;
}
.cat-item:hover>a{
    color: white;
    display: block;
}
.sub-menu .cat-2:hover {
    color: #fb0303;
}

.cat-2 {
    border-bottom: 1px solid #ebebeb;
    width: 300px;
    margin-right: 0;
    border-bottom: 1px solid rgba(55, 46, 46, 0.541);
    height: 27px;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

ul {
    width: 100%;
    height: 50px;
    display: flex;
    list-style: none;
    align-items: center;
    font-weight: 700;
}

ul a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.li {
    margin-left: 30px;
}

.la {
    color: rgb(254, 213, 34) !important;

}

.li1 {
    margin-left: 10px;
    color: white;
}

.mr {
    margin-left: 10px;
    color: white;
}

.ml {
    margin-right: 10px;
    color: white;
}

li {
    display: flex;
    align-items: center;
}

li i {
    font-size: 16px;
}

/* section */
section {
    width: 79%;
    height: 200px;
    margin: 0 auto;
    margin-top: 10px;
}

.content {
    width: 74.58333333333333%;
    height: 508px;
    margin-left: auto;
    margin-right: 0;
}
.slide-panner {
    width: 100%;
    height: 395px;
    display: flex;
    justify-content: space-between;
}

.silde-main {
    width: 66%;
    height: 405px;
}
.slide{
    width: 594px;
    display: flex;
    transition: all 0.7s;
}
.active{ background-color: #fb0303;}
.slide-list{
    display: flex;
    position: relative;
    width: 100%;
    /* flex-wrap: wrap; */
    overflow: hidden;
}
.slide-list img{
    object-fit: cover;
    width: 594px;

}
button{
    display: block;
    margin-left: 20px;
}
.btn{
    height: 21px;
    margin: 0;
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
    text-align: center;
}
.owl-dot{
    width: 16px;
    height: 16px;
    display: inline-block;
    /* z-index: 1000; */
    cursor: pointer;
    border-radius: 50%;
    border: none;

}

.panner {
    width: 32.5%;
    background-color: yellow;
    height: 395px;
    transition: all .2s ease;
    position: relative;
    overflow: hidden;
    display: block;
}

.pannercolumn {
    width:100%;
    height: 98px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.sub-panner1,
.sub-panner2,
.sub-panner3 {
    width: 32.513966480446925%;
    height: 98px;
    border-radius: 5px;
    overflow: hidden;
}

/* home-deal */
.home-deal {
    width: 100%;
    height: 425px;
    background-color: rgb(255, 0, 0);
    margin-top: 15px;
    border-radius: 8px;
    padding: 20px 6px 6px 6px;
}

.hot-deal {
    width: 99%;
    height: 54px;
    margin: 0 auto;
    background-color: rgb(222, 135, 135);
}

.iteam-mega {
    margin-top: 15px;
    width: 100%;
    display: flex;
    height: 331px;
    justify-content: space-between;
}

.item {
    width: 19.6%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
}

.card-top {
    height: 155px;
    overflow: hidden;
}
.card-top img:hover{

    animation: ac 0.2s 1 linear forwards;
    cursor: pointer;
}
@keyframes ac {
    to {
        transform: translateY(-15px);

    }
}
.card-top img {
    width: 215px;
    height: 155px;
    object-fit: cover;
}

.card-bot {
    width: 215px;
    height: 140px;
}

.card-bot a {
    margin-bottom: 18px;
    display: block;
     cursor: pointer;
}

.price {
    width: 215px;
    height: 52px;
}

.count {
    margin-top: 18px;
    width: 215px;
    height: 18px;
    background-color: rgb(253, 209, 155);
    border-radius: 50px;
    position: relative;
}
.count p{
    position: absolute;
    line-height: 18px;
    z-index: 10;
    left: 37%;
}
.count span{
    height: 100%;
    background: #fbda03;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.price {
    position: relative;
}
.price del{
    color: #646363;
    padding-left: 5px;
}
.p-price{
    position: absolute;
    left: 5px;
    bottom: 0;
    color: red;
    font-size: 20px;
}
.p-sale_off {
    position: absolute;
    display: block;
    right: 0;
    top: 6px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    line-height: 40px;
}
/* list  */
.list-product{
    width: 100%;
    height: 398px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: white;
}
.product{
    width: 98.6%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product h2{
    margin-left: 20px;
}
.product a{
    display: flex;
    justify-content: space-between;
}
.product a p{
    margin-right: 20px;
    font-size: 20px;
}
.product a i{
    margin-right: 5px;
    font-size: 20px;
    margin-top: 5px;
}
/* .product .end{
    width: 120px;
    height: 100%;
    align-items: center;
} */
.list{
    width: 98.5%;
    height: 310px;
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
}
.list-iteam{
    width: 11.11111111%;
    height: 50%;
    overflow: hidden;
    object-fit: cover;
    text-align: center;
    border: 1px solid rgb(221, 218, 218);
}
.list-img{
    width: 108px;
    height: 89px;
    margin: 0 auto;
    margin-top: 10px;
}
.list-iteam img{
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.list-iteam:hover{
    border: 1px solid blue;
    cursor: pointer;
}
/* hot sale new  */
.full-home{
    width: 100%;
    height: 331px;
    position: relative;
    overflow: hidden;

}
.home-product{
    width: 100%;
}
.product-type{
    margin-top: 15px;
    width: 1200px;
    display: flex;
    height: 331px;
    justify-content: space-between;
    margin-left: 0px;
    transition: all 0.7s;
    display: none;
}
.titles{
    width: 100%;
    height: 44px;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0 2px 25px -15px;
    border-radius: 15px 15px 0 0;
}
.titles a{
    display: block;
    float: left;
    color: #222;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    line-height: 44px;
    padding: 0 30px 0 50px;
}
.items {
    width: 250px;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    margin-right: 12px;
}
.actives{
    display: flex;
}
/* .full-iteam{
    width: 1200px;
    height: 100%;

} */
.card-bots {
    width: 231px;
    height: 140px;
}
.click-r.fa-solid{
    position: absolute;
}
.click-r{
    width: 30px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    top: 133px;
    right: 15px;
    padding-bottom: 25px;
    padding-right: 20px;
    background: rgba(0, 0, 0, 0.1) !important;
    border: none;
}
.click-l i{
    /* background: url(../img/bg-left.png);
    background-size: 11px 20px;
    background-repeat: no-repeat;
    background-position: 4px center; */
    display: block;
    width: 100%;
    height: 100%;
}
.click-r i{
    /* background: url(../img/arrow-left.png);
    background-size: 11px 20px;
    background-repeat: no-repeat;
    background-position: 4px center; */
    display: block;
    width: 100%;
    height: 100%;
}
.click-l{
    width: 30px;
    height: 50px;
    position: absolute;
    color: inherit;
    cursor: pointer;
    top: 133px;
    left:-20px;
    padding-bottom: 25px;
    padding-right: 20px;
    font: inherit;
    border: none;
    background: rgba(0, 0, 0, 0.1) !important;

}